html {
}

body {
    background: #111111;
    color: white;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 5%;
}

h2 {
    margin:0;
    padding:0;
}

table {
    display: inline-block;
}
