html {
}

body {
    background: #111111;
    color: white;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 5%;
}

h2 {
    margin:0;
    padding:0;
}

table {
    display: inline-block;
    margin: 10px;
}

th {
    color: green;
}

.mot {
    color: #bbffbb;
}

.nombre {
    color: grey;
}

q {
    color: #bbffbb;
}
blockquote {
    color: #bbffbb;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: red;
  color: #fff;
}
